
/* Transition */
$tf: 0.2s;

/* Colors */
$b: #000; /*black*/
$w: #fff; /*white*/
$tit: #A33722; /*red*/
$ish: #0d0d0d; /*blackish*/
$main: #95c6ac; /*head*/
$trans: rgba(0,0,0,0.8); /*black transparent*/
$transb: rgba(0,0,0,0.9);
$transw: rgba(255,255,255,0.1); /*white tranparent*/
$bh: #d3a69d; /*button hover*/
$dark: #8D8686;
$light: #E1D7D1;
$bc: #565351;

/*fonts*/
$top: 'Poppins', sans-serif;
$p: 'Titillium Web', sans-serif;
$abel: 'Abel', sans-serif;
$hind: 'Hind', sans-serif;

/* border */
$bo: 1px solid $dark;

