@import url('https://fonts.googleapis.com/css?family=Arvo|Titillium+Web|Josefin+Sans|Source+Sans+Pro|Abel|Hind|Open+Sans|PT+Sans|Quicksand|Poppins|Sniglet|Abel&display=swap');

@import 'var';

html{
	scroll-behavior: smooth;
}



body{
	background: url(../img/por.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}


.spinner{
	width: 140px;
	height: 140px;
	border: 2px solid #f3f3f3;
	border-top: 4px solid #f25a41;
	border-radius: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	animation: spin 1s infinite linear;
}

@keyframes spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

#overlay{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.9);
	position: fixed;
	left: 0;
	top:0;
	z-index: 123;
}


#home{
	.sl{
		padding-top: 3%;
		ul{
			list-style: none;
			li{
				display: inline;
				a{
					background-color: $trans;
					color: $w;
					font-size: 1.5vw;
					border-radius: 50%;
					transition: 0.2s;
					margin-right: 1%;
				}
			}
			li:first-child{
				a{
					padding: 3% 4.1%;
				}
				a:hover{
					background-color: #3b5998;
				}
			}
			li:nth-child(2){
				a{
					padding: 3% 3.5%;
				}
				a:hover{
					background-color: #00acee;
				}
			}
			li:nth-child(3){
				a{
					padding: 3% 3%;
				}
				a:hover{
					background-color: #CC3333;
				}
			}
			li:nth-child(4){
				a{
					padding: 3% 4%;
				}
				a:hover{
					background-color: #c8232c;
				}
			}	
			li:last-child{
				a{
					padding: 3% 3.7%;
				}
				a:hover{
					background-color: #0077B5;
				}
			}
		}
	}
	.sr{
		font-family: 'Open Sans', sans-serif;
		color: $w;
		h2{

			font-size: 1.5vw;
		}
		h1{
			font-size: 2.2vw;
			margin-top: -1%;
		}
	}
	.tit{
		padding-top: 10%;
		color: #E3C29B;
		h1{
			font-family: 'PT Sans', sans-serif;
			letter-spacing: 0.3vw;
			font-size: 4.8vw;
			span{
				color: #CA9354;
				font-size: 5.8vw;
				font-family: 'Sniglet', cursive;
			}
		}
		h3{
			font-family: $abel;
			font-size: 2.6vw;
			margin-top: 1.5%;
			margin-bottom: 6.3%;
		}
	}
	
	.nav1{
		.navbar-default{
			background-color: $transb;
			border: 0px;
			margin-bottom: 2%;
			padding: 1.5% 0%;
			.navbar-brand{
				letter-spacing: -0.1vw;
				font-family: 'Arvo', serif;
				font-size: 2.4vw;
				color: $w;
				span{
					color: $tit;
				}
			}
			.navbar-collapse{
				font-size: 1.3vw;
				font-family: $abel;
				a{
					color: $main;
				}
				a:hover{
					color: #d1ffe8;
				}
			}
		}
	}
	.nav2{
		.navbar-default{
			background-color: $transb;
			border: 0px;
			margin-bottom: 2%;
			padding: 1% 0%;
			.navbar-brand{
				margin-left: 27%;
				letter-spacing: -0.1vw;
				font-family: 'Arvo', serif;
				font-size: 4vw;
				color: $w;
				span{
					color: $tit;
				}
			}
		}
	}
}

#pb{
	padding-top: 5%;
	img{
		@extend .img_ex;
	}
}

#pb1{
	img{
		@extend .img_ex;
	}
}

#menu{
	margin-top: 3%;
	.title{
		font-family: $hind;
		padding-top: 0.3vw;
		margin: auto;
		border: 4px outset $tit;
		width: 50%;
		border-radius: 15%;
		background:$trans;
		color: $main;
		h1{
			padding: 0px;
			margin: 0px;
			font-size: 3vw;
		}
		i{
			margin: 0% 5%;
		}
	}
	.butto1{
		padding-top: 5%;
		button{
			@extend .but_ex;
			padding-top: 5px;
			width: 180px;
			height: 50px;
			text-align: center;
			font-size: 20px;
			border: 0px; 
		}
		button:hover{
			background-color: $bh;
		}
	}
	.butto2{
		padding-top: 5%;
		button{
			@extend .but_ex;
			padding-top: 5px;
			width: 30vw;
			height: 8vw;
			text-align: center;
			font-size: 3vw;
			border: 0px; 
		}
		button:hover{
			background-color: $bh;
		}
	}
	.today{
		border-radius: 1vw;
		font-family: 'Josefin Sans', sans-serif;
		color: $w;
		margin-top: 1%;
		background-color: $trans;
		h3{
			color: #8D8686;
			font-family: 'Source Sans Pro', sans-serif;
			padding-bottom: 0.4%;
			font-size: 1.9vw;
			border-bottom: 1px dotted $tit;
		}
	}
	.conte{
		.redgolo{
			font-size: 1.5vw;
			padding: 1.7vw 0vw 1vw 0vw;
			background-color: $tit;
			width: 5vw;
			height: 5vw;
			border-radius: 50%;
			
		}
		.te{
			padding-bottom: 1vw;
			h4{
				font-family: $top;
				color: $light;
				margin-top: 0px;
				font-size: 1.7vw;
			}
			p{
				@extend .p1_ex;
				margin-top: -0.5vw;
			}
		}
	}
	.main{
		margin-left: -1%;
		margin-top: 3%;
		.box{
			margin-bottom: 5%;
			height: 90%;
			border-radius: 1vw 0vw 1vw 0vw;
			width: 100%;
			background-color: $trans;
			img{
				border: 0.2vw solid $bc;
				margin: 3% 0% 0% 20%;
				width: 60%;
			}
			h4{
				font-family: $top;
				letter-spacing: 0.01vw;
				font-size: 1.7vw;
				width: 80%;
				color: $light;
				border-bottom: 1px dotted $tit;
				margin-left: 10%;
			}
			h5{
				font-family: $abel;
				font-size: 1.6vw;
				font-weight: bold;
				color: $tit;
				margin-right: 10%;
			}
			p{
				@extend .p1_ex;
				margin: 0% 6% 0% 10%;
				padding-bottom: 3%;
			}
		}
	}
}

#events{
	@extend .bg_ex;
	background: url(../img/events.jpg);

	@extend .scrollbar;

	.lrt{
		@extend .lrt_ex;
		margin-left: 50%;
		padding: 8vw 0vw 5vw 1vw;
		.lrt_cont{
			@extend .lrt_coex;
			h1{
				@extend .h1_ex;
			}
			.title{
				@extend .tit_ex;
			}
			h5{
				@extend .h5_ex;
			}
			p{
				margin: 5% 0% 9% 0%;
				@extend .p_ex;
			}
		}
	}
}

#events1{
	@extend .bg_ex1;
	background: url(../img/events.jpg);

	@extend .scrollbar;

	.lrt{
		@extend .lrt_ex1;
		padding: 8vw 0vw 5vw 1vw;
		.lrt_cont{
			@extend .lrt_coex1;
			h1{
				@extend .h1_ex1;
			}
			.title{
				@extend .tit_ex1;
			}
			h5{
				@extend .h5_ex1;
			}
			p{
				margin: 5% 0% 9% 0%;
				@extend .p_ex1;
			}
		}
	}
}

.stick{
	padding: 0%;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 100px;
	z-index: 30;
}


#private{
	@extend .bg_ex;
	background: url(../img/pd.jpg);

	@extend .scrollbar;

	.lrt{
		@extend .lrt_ex;
		padding: 8vw 0vw 5vw 3vw;
		.lrt_cont{
			@extend .lrt_coex;
			h1{
				@extend .h1_ex;
			}
			.title{
				@extend .tit_ex;
			}
			h5{
				@extend .h5_ex;
			}
			p{
				margin: 5% 3% 7% 0%;
				@extend .p_ex;
			}
			ul{
				color: $dark;
				font-family: $p;
				margin: -3% 0% 0% -6%;
				list-style: none;
				li{
					font-size: 1.3vw;
					i{
						color: $tit;
					}
				}
			}
			.butter{
				margin-top: 3%;
				button{
					@extend .but_ex;
					height: 40px;
					width: 250px;
				}
				button:hover{
					background-color: $bh;
				}
			}
		}
	}
}

#private1{
	@extend .bg_ex1;
	background: url(../img/pd.jpg);

	@extend .scrollbar;

	.lrt{
		@extend .lrt_ex1;
		padding: 8vw 0vw 5vw 3vw;
		.lrt_cont{
			@extend .lrt_coex1;
			h1{
				@extend .h1_ex1;
			}
			.title{
				@extend .tit_ex1;
			}
			h5{
				@extend .h5_ex1;
			}
			p{
				margin: 5% 3% 7% 0%;
				@extend .p_ex1;
			}
			ul{
				color: $dark;
				font-family: $p;
				margin: -3% 0% 0% -6%;
				list-style: none;
				li{
					font-size: 1.8vw;
					i{
						color: $tit;
					}
				}
			}
			.butter{
				margin-top: 3%;
				button{
					@extend .but_ex;
					height: 40px;
					width: 250px;
				}
				button:hover{
					background-color: $bh;
				}
			}
		}
	}
}


#reserve{
	@extend .bg_ex;
	background: url(../img/reserve.jpg);
	
	@extend .scrollbar;


	.lrt{
		@extend .lrt_ex;
		margin-left: 50%;
		padding: 8vw 0vw 5vw 3vw;
		.lrt_cont{
			@extend .lrt_coex;
			h1{
				@extend .h1_ex;
			}
			.title{
				@extend .tit_ex;
			}
			h5{
				@extend .h5_ex;
			}
			p{
				margin: 5% 3% 7% 0%;
				@extend .p_ex;
			}
			.input-group{
				width: 60%;
				margin: 2% 0% 5% 0%;
				input{
					height: 48px;
					width: 100%;
					background: $transw;
					border: 0px;
				}
				span{
					background: $transw;
					border:0px;
					margin-left: -10%;
					a{
						color: $w;
					}
				}
			}
			.form1{
				form{
					margin-top: 2%;
					input{
						@extend .form_extend;
						margin-bottom: 2%;
						height: 48px;
					}
					textarea{
						@extend .form_extend;
						height: 150px;
					}
				}
			}
			button{
				@extend .but_ex;
				height: 40px;
				width: 150px;
				margin-top: 3%;
			}
			button:hover{
				background-color: $bh;
			}
		}
	}
}

#reserve1{
	@extend .bg_ex1;
	background: url(../img/reserve.jpg);
	
	@extend .scrollbar;


	.lrt{
		@extend .lrt_ex1;
		padding: 8vw 0vw 5vw 3vw;
		.lrt_cont{
			@extend .lrt_coex1;
			h1{
				@extend .h1_ex1;
			}
			.title{
				@extend .tit_ex1;
			}
			h5{
				@extend .h5_ex1;
			}
			p{
				margin: 5% 3% 7% 0%;
				@extend .p_ex1;
			}
			.input-group{
				width: 60%;
				margin: 2% 0% 5% 0%;
				input{
					height: 48px;
					width: 100%;
					background: $transw;
					border: 0px;
				}
				span{
					background: $transw;
					border:0px;
					margin-left: -10%;
					a{
						color: $w;
					}
				}
			}
			.form1{
				form{
					margin-top: 2%;
					input{
						@extend .form_extend;
						margin-bottom: 2%;
						height: 48px;
					}
					textarea{
						@extend .form_extend;
						height: 150px;
					}
				}
			}
			button{
				@extend .but_ex;
				height: 40px;
				width: 150px;
				margin-top: 3%;
			}
			button:hover{
				background-color: $bh;
			}
		}
	}
}

#contact{
	@extend .bg_ex;
	background: url(../img/recep.jpg);
	
	@extend .scrollbar;

	.lrt{
		@extend .lrt_ex;
		padding: 8vw 0vw 5vw 3vw;
		.lrt_cont{
			@extend .lrt_coex;
			h1{
				@extend .h1_ex;
			}
			p{
				margin: 5% 3% 7% 0%;
				@extend .p_ex;
			}
			.title1{
				margin-top: 3%;
				border-bottom: 1px dotted $tit;
				font-family: $top;
				font-size: 1.7vw;
				color: $main;
				font-weight: bolder;
				width: 80%;
			}
			.title2{
				@extend .tital_ex;
				margin: 1% 0% 3% 0%;
			}
			.title3{
				@extend .tital_ex;
				i{
					color: $tit;
				}
			}
			.title4{
				margin: 5% 3% 7% 0%;
				font-family: $p;
				font-size: 1vw;
				color: $dark;
			}
			.b1,  .b2{
				@extend .but_ex;
				width: 120px;
				height: 40px;
				margin: 5% 10% 2% 0%;
			}
			button:hover{
				background-color: $bh;
			}
			.b2{
				margin-bottom: 30%;
			}
		}
	}
}

#contact1{
	@extend .bg_ex1;
	background: url(../img/recep.jpg);
	
	@extend .scrollbar;

	.lrt{
		@extend .lrt_ex1;
		padding: 8vw 0vw 5vw 3vw;
		.lrt_cont{
			@extend .lrt_coex1;
			h1{
				@extend .h1_ex1;
			}
			p{
				margin: 5% 3% 7% 0%;
				@extend .p_ex1;
			}
			.title1{
				margin-top: 3%;
				border-bottom: 1px dotted $tit;
				font-family: $top;
				font-size: 2.5vw;
				color: $main;
				font-weight: bolder;
				width: 80%;
			}
			.title2{
				@extend .tital_ex1;
				margin: 1% 0% 3% 0%;
			}
			.title3{
				@extend .tital_ex1;
				i{
					color: $tit;
				}
			}
			.title4{
				margin: 5% 3% 7% 0%;
				font-family: $p;
				font-size: 2vw;
				color: $dark;
			}
			.b1,  .b2{
				@extend .but_ex;
				width: 120px;
				height: 40px;
				margin: 5% 10% 2% 0%;
			}
			button:hover{
				background-color: $bh;
			}
			.b2{
				margin-bottom: 30%;
			}
		}
	}
}

footer{
	background-color: $transb;
	font-family: $top;
	color: $w;
}




/*extends*/


.form_extend{
	background: $transw;
	border:0px;
	color: $dark;
	width: 80%;
	font-family: $p;
}

.lrt_ex{
	width: 50%;
	height: 100vh;
	background: $trans;
}

.lrt_ex1{
	width: 100%;
	height: 80vh;
	background: $trans;
}

.lrt_coex{
	height: 80vh;
	overflow-y: scroll;
}

.lrt_coex1{
	height: 70vh;
	overflow-y: scroll;
}

.h1_ex{
	font-size: 3vw;
	font-family: $hind;
	color: $tit;
}

.h1_ex1{
	font-size: 4vw;
	font-family: $hind;
	color: $tit;
}

.h5_ex{
	font-family: $abel;
	margin-top: -0.1%;
	color: $tit;
}

.h5_ex1{
	font-family: $abel;
	margin-top: -0.1%;
	color: $tit;
}

.img_ex{
	display: block;
	margin: auto;
	width: 50%;
}

.p_ex{
	font-family: $p;
	font-size: 1.3vw;
	color: $dark;
}

.p_ex1{
	font-family: $p;
	font-size: 1.8vw;
	color: $dark;
}

.p1_ex{
	font-family: $p;
	font-size: 1.4vw;
	color: $dark;
}

.tit_ex{
	margin-top: 2%;
	font-family: $top;
	font-size: 1.4vw;
	color: $light;
}

.tit_ex1{
	margin-top: 2%;
	font-family: $top;
	font-size: 2vw;
	color: $light;
}

.tital_ex{
	color: $dark;
	font-family: $top;
	font-size: 1.1vw;
}

.tital_ex1{
	color: $dark;
	font-family: $top;
	font-size: 2.5vw;
}

.but_ex{
	transition: $tf;
	background-color: $tit;
	color: $w;
	font-family: $hind;
}

.bg_ex{
	height: 100vh;
	background-size: cover;
}

.bg_ex1{
	height: 80vh;
	background-size: cover;
}

.scrollbar{
	::-webkit-scrollbar {
    	width: 0.8em;
   		margin-left: 40px;
	}
	::-webkit-scrollbar-track {
  		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	}
	::-webkit-scrollbar-thumb {
  		background-color: $tit;
  		outline: 1px solid $tit;
	}
}




